/*
Modelo de caixa
*/

.conteudo{
	border: 1px solid red;
	/*padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;*/

	/*
	primeiro valor - topo(top)
	segundo valor - direita(right)
	terceiro valor - rodape(bottom)
	quarto valor - esquerda(left)
	SEMPRE NO SENTIDO HORÁRIO
	*/
	/* padding: 20px 15px 10px 5px; */

	/* o primeiro valor é top e bottom, e o segundo right e left */
	/*padding: 20px 10px;*/

	/* aplica o padding padrão em todos os cantos */
	padding: 20px;

	/*MARGIM*/
	/*
	primeiro valor - topo(top)
	segundo valor - direita(right)
	terceiro valor - rodape(bottom)
	quarto valor - esquerda(left)
	SEMPRE NO SENTIDO HORÁRIO
	*/
	margin: 20px 20px 20px 20px;

	width: 150px;
}